.ready {
    width: 80%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
.align{
     float: right;
     font-size: 15px;
     position: absolute;
     right: -50px; 
     color: (49, 190, 194 );
}
